
<% if can? :manage, Appointment %>
  <div id="month"></div>
    <%= calendar do |date| %>
      <%= date.day %>
       <% if @appointments_by_date[date] %>
        <ul>
         <% @appointments_by_date[date].each do |appointment| %>
          <li><%= link_to appointment.description, user_appointment_path(@user, appointment) %></li>
         <% end %>
        </ul>
      <% end %>
      <% end %>
  <% end %>
