// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-class {
  display: inline-block;
  border: 2px solid black;
}

.question-class:hover {
  background-color: rgb(91, 3, 96);
  color: white;
}
