<% @questions.each do |question| %>
  <div class="question-class">
    <h3><%= question.content %></h3>
    <% if question.choices.any? %>
      <ul>
        <% question.choices.each do |choice| %>
          <li><%= choice.content %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
