<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.drivexus.com">The Ultimate Driving School App</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_index_path %></li>
      </ul>
    </nav>
  </footer>
</div>
