<h1>About Drivexus</h1>
<p>Created in 2016</p>


<h2>Address</h2>
<p2> Address
  20 St patrick street,
  Toronto,
  Ontario,
  M5T2Y4</p2>

<!-- <%= image_tag("homemap.png")%> -->
<%=image_tag"homemap.png", class: 'hmap' %>
