// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar{
  border-collapse: collapse;
  width: 100%;

  td, th{
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color:  #666;
    text-align: center;
    width: 14.28%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }
.notmonth {
  color: #CCC;
}

.today {background-color: #D7F2FF;}
}

#month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
   a {
     text-decoration: none;
     padding: 0 10px;
     color: #999;
   }
}


ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}


.show-appointment{
  border: 1px solid black;
  display: inline-block;
  padding: 15px;
  cursor:pointer;

}

.show-appointment:hover , #selected_show_appointment, .QuickStartLong:hover{
  background-color: rgb(103, 211, 240) !important ;

}

#map{
  height: 400px;
}

.drivers-address-latitude{
  display: none;
}

.drivers-address-longitude{
  display: none;
}

.hide-appointment-form{
  display:none;
}

.apt-picker{
  display: block;
  border: 1px solid black;
  padding: 50px;
  margin:0 auto;
  width: 50%;
}

.dt-picker{
  padding: 10px;
}

.st-time {
  padding: 10px;
}
.ed-time{
  padding: 10px;
}

.apt-picker label{
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 100;
}
.apt-picker input {
  width: 100px;
  height: 30px;
}

select#start_time__4i{
  width: 100px;
  border-radius: 0;
  -webkit-appearance: none;
  height: 30px;
  border-collapse: collapse;
  padding-left: 10px;
}


select#start_time__5i{
  width: 100px;
  border-radius: 0;
  -webkit-appearance: none;
  height: 30px;
  border-collapse: collapse;
}

select#end_time__4i{
  width: 100px;
  border-radius: 0;
  -webkit-appearance: none;
  height: 30px;
  padding-left: 10px;
}

select#end_time__5i{
  width: 100px;
  border-radius: 0;
  -webkit-appearance: none;
  height: 30px;
}

input#nearby-drivers{
	border : solid 1px #000000;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 13px;
  width: 200px;
	color : #ffffff;
	padding : 1px 17px;
	background : #5f6166;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f6166), color-stop(100%,#00060a));
	background : -moz-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -webkit-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -o-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -ms-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : linear-gradient(top, #5f6166 0%, #00060a 100%);
  padding-left: 10px;
}

.ad-picker {
    padding: 10px;
}

.dr-bttn{
  padding: 10px;
}

.fn-ad{
  padding: 10px;
}

input#address{
  width: 220px;
}

input#drivers-by-address{
  border : solid 1px #000000;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 13px;
  width: 200px;
	color : #ffffff;
	padding : 1px 17px;
	background : #5f6166;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f6166), color-stop(100%,#00060a));
	background : -moz-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -webkit-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -o-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -ms-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : linear-gradient(top, #5f6166 0%, #00060a 100%);
  padding-left: 10px;
}

.apt-all{
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
}

.nr-hd{
  margin:50px 400px;
}
.span2{
  height: 100px;
  padding-bottom: 0;
  border-collapse: collapse;
  position: absolute;
  bottom: 0;
  width: 300px;
  padding-left: 30px;
  border-top: solid 1px black;
  padding-top: 20px;
}


.span6{
  width: 300px;
  height: 400px;
  display: inline-block;
  position: relative;

}

.span9{
  margin:0 auto;
}

.show-drivers{
  margin: 10px;
}
