// Place all the styles related to the Exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flipq {
  background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 30%,#8eb92a 30%,#bfd255 41%,#72aa00 86%,#9ecb2d 100%);
  color: white;
  font-weight: bolder;
  position: relative;
  padding: 20px;
  overflow: hidden;
  display: inline-block;
  width: 20%;

  transition: all 800ms;

  &.questions-showing {
    background: -webkit-linear-gradient(top, #feccb1 0%,#ea5507 65%,#f17432 80%,#fb955e 100%);
  }
}

.show-question-list {
  position: absolute;;
  transition: top 800ms;
}

.display-question {
  top: 10px;
}

.flipq.questions-showing .display-question{
  top: -100px;

}

.hide-question {
  top: 100px;
}

.flipq.questions-showing .hide-question{
  top: 10px;
}


.list-of-questions {
  display: none;
  opacity: 0%;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-delay: 0;

  &.list-showing {
    display: block;
    opacity: 90%;
  }
}

.new_attached {
  display: none;
}

.correct {
  color: green;
  font-weight: bolder;
}

.incorrect {
  color: red;
  font-weight: bolder;
}

.attached-question-class {
  width: 40%;
}

.attached-question-class:hover {
  border-bottom: 4px solid rgb(111, 41, 212);
  border-top: 4px solid rgb(111, 41, 212);
  background-color: black;
  color: white;
  width: 40%;
}

.questioncontent {
  font-weight: bolder;
}

.realanswersubmit {
  display :none;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}


.choicecontainer {
  margin: 10px;
  padding: 20px;
  display: block;
  border: 2px solid rgb(57, 17, 49);
  width: 25%;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-delay: 0;

  &.is-clicked {
    background-color: rgb(65, 0, 75);
    border: 2px solid rgb(222, 151, 251);
    color: white;
    font-weight: bolder;
  }

  &.is-correct {
    background-color: rgb(18, 147, 69);
    color: white;
    font-weight: bolder;
  }

  &.is-incorrect {
    background-color: rgb(153, 39, 14);
    color: white;
    font-weight: bolder;
  }
}

.choicecontainer:hover {
  background-color: rgb(174, 93, 230);
  border: 2px solid black;
  color: white;
  font-weight: bolder;
}

#scantronid {
  display: none;
}


#testsubmitbutton {
  background-color: rgba(236, 122, 40, .8);
  color: white;
  font-size: 30px;
  padding: 25px;
  font-weight: bolder;
  display: inline-block;
  width: 15%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.results-container {
  margin: 10px;
  padding: 20px;
  display: block;
  border: 2px solid rgb(57, 17, 49);
  width: 25%;

  &.is-correct {
    background-color: rgb(18, 147, 69);
    color: white;
    font-weight: bolder;
  }

  &.is-incorrect {
    background-color: rgb(153, 39, 14);
    color: white;
    font-weight: bolder;
  }
}
