// Place all the styles related to the Exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showquestions {
  border: 2px solid black;
  display: inline-block;
  background-color: rgb(93, 142, 123);
  color: white;
  font-weight: bolder;
  padding: 10px;

  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-delay: 2;

  &.is-showing{
    display: inline-block;
    background-color: rgb(25, 92, 54);
    color: white;
    font-weight: bolder;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
  }
}

.list-of-questions {
  display: none;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-delay: 2s;

  &.list-showing {
    display: block;
  }
}

.new_attached {
  display: none;
}

.correct {
  color: green;
  font-weight: bolder;
}

.incorrect {
  color: red;
  font-weight: bolder;
}


.attached-question-class:hover {
  border-bottom: 4px solid rgb(111, 41, 212);
  border-top: 4px solid rgb(111, 41, 212);
  background-color: black;
  color: white;
}

.questioncontent {
  font-weight: bolder;
}

.realanswersubmit {
  display :none;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}


.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}


.choicecontainer {
  margin: 10px;
  padding: 20px;
  display: block;
  border: 2px solid rgb(57, 17, 49);
  width: 25%;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-delay: 0;

  &.is-clicked {
    background-color: rgb(65, 0, 75);
    border: 2px solid rgb(222, 151, 251);
    color: white;
    font-weight: bolder;
  }

  &.is-correct {
    background-color: rgb(18, 147, 69);
    color: white;
    font-weight: bolder;
  }

  &.is-incorrect {
    background-color: rgb(153, 39, 14);
    color: white;
    font-weight: bolder;
  }
}

.choicecontainer:hover {
  background-color: rgb(174, 93, 230);
  border: 2px solid black;
  color: white;
  font-weight: bolder;
}

#scantronid {
  display: none;
}

.truechoicecontainer {
  margin: 10px;
  padding: 20px;
  display: block;
  border: 2px solid rgb(57, 17, 49);
  width: 25%;
  background-color: rgb(18, 147, 69);
  color: white;
  font-weight: bolder;
}

.testsubmitbutton {
  background-color: black;
  border-top-left-radius: 50%;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  padding: 20px;
  width: 25%;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  transition-delay: 0;

  &.testsubmitted {
    position: absolute;
    right: 300px;
    opacity: 0%
  }
}

.testsubmitbutton:hover {
  background-color: rgb(164, 151, 26);
  border-color: black;
  border-top-right-radius: 50%;
  font-weight: bolder;
  font-size: 30px;
  padding: 20px;
  width: 25%;
}
