// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .video {
//   margin-top: 100px;
//   margin-left: -70px;
//   margin-right: -70px;
//   background-color: #DEDEDE;
//   text-align:center;
//   box-shadow: 10px 10px 5px #888;
//
// }
// .inner {
//   opacity: 1.0;
// }.h1{
//   opacity: 100%;
// }
//
// .outer {
//   background-color: gray;
//   opacity: 0.5;
// }

/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 20
 * URL: http://LandingSumo.com
 * Version: 1.0
 * Exclusive Freebie for BlackTie.co
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
}
.welcome {
 background: url(../images/header.jpeg) no-repeat center top;
	margin: 0;
	color: #5a5a5a;
  background-size:1500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p {
	padding: 0;
	margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	color: #666;
	margin-top: 10px;
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius:0;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

@media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}

.btn-conf-2 {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 28px 11px 28px;
	margin-top: 20px;
	}

.btn-green {
	background: #03C9A9;
	color: white
}

/* HEADER SECTION */
#h {

	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
	top: 30px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	position:absolute;
}

#h .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

#h .social i {
	margin-left: 20px;
}

#h .social a {
	color: white;
}

#h h1 {
	font-weight: 700;
	color: white;
	font-size: 40px;
}

/* Store Links */
.store img {
	margin-right: 10px;
	margin-top: 20px;
}

/* SEP */
// #sep {
// 	background:
// 	padding-top: 90px;
// 	text-align:center;
// 	background-attachment: relative;
// 	background-position: center center;
// 	min-height: 450px;
// 	width: 100%;
// 	color: white;
//
//     -webkit-background-size: 100%;
//     -moz-background-size: 100%;
//     -o-background-size: 100%;
//     background-size: 100%;
//
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }

#sep h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

/* Pricing Tables */
.price-table {
	border: 2px solid #5a5a5a;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 5px;
}

.price-table .p-head {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 80px;
	border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
	color: #333333;
	border-bottom: 2px solid #ccc;
	padding: 24px 0px;
	margin: 0;
	letter-spacing: 1px;
}

.p-body .price .detail {
	font-weight: 700;
	font-size: 45px;
	margin-left: 10px;
	margin-right: 10px;
}

.p-body .price .sub {
	font-size: 18px;
	color: #ccc;
	position: relative;
	bottom: 10px;
	font-weight: 700;
}

ul {
	list-style-type: none;
}

/* SPONSORS */
#g {
	background: #f2f2f2;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sponsor img {
	max-width: 140px;
	max-height: 60px;
	vertical-align: middle;
}

.sponsor .col-sm-2 {
	height: 80px;
	line-height: 80px;
}

/* GREEN SECTION - TESTIMONIAL */

#green {
	padding-top: 90px;
	padding-bottom: 60px;
	min-height: 300px;
	background: #03C9A9;
	color: white;
}

#green tgr {
	font-weight: 700;
	letter-spacing: 1px;
}

/* FOOTER */
#f {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f2f2f;
	color: white;
}

#f h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}

.bar {
    background-color: gray;
}
.road {
  width: 80%;
  height: auto;
  margin-top: 40px;
  box-shadow: 10px 10px 5px #888;
}
// .img-responsive {
//   height: 400px;
//   width: 400px;
// }
// .tree {
//   background-image: image("images/38637209-Seamless-pattern-with-strokes-Repeating-modern-stylish-geometric-background-Simple-abstract-monochro-Stock-Vector.jpg");
//     background-color: #faf7f8;
// }



// .caa {
// padding-right: 500px;
// margin-right: 100px;
// }
.caa{
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 22px;
  box-shadow: 10px 10px 5px #888;

}
.outlinetext {

      color: white;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.jumbotron {
  background-image: url("CarPlayClean.jpg");
  background-size: cover;
  height: 550px;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: -40px;
  box-shadow: 10px 10px 5px #888;

}

.jumbotron examsheet{
  // width: 100%;
  // height: auto;
  // margin-top: 40px;
  // box-shadow: 10px 10px 5px #888;
  background-size: cover;
}

// .jumbotron2 {
//
//   background-image: url("test.jpg");
//   // background-size: cover;
//   background-repeat: no-repeat;
//   height: 550px;
//   margin-left: -50px;
//   margin-right: -50px;
//   margin-bottom: -40px;
//   margin-top: 100px;
// }
//
// .jumbotron3 {
//   background-image: url("test2.jpg");
//   // background-size: cover;
//   background-repeat: no-repeat;
//   height: 550px;
//   margin-left: -50px;
//   margin-right: -50px;
//   margin-bottom: -40px;
//   margin-top: 100px;
//   float: right;
//   padding-right: 300px;

// }
.jumbotron h1 {

  color: white;
  text-shadow: black;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
//  h4{
// padding-left: 300px;
// // margin-bottom: 1000px;
//
// }
//  h5{
//   padding-left: 300px;
//
// }


.red{
  width: 5%;
  height: auto;
  margin-top: 190px;
  margin-left: 175px;
  opacity: .6;
}
.purple{
  width: 5%;
  height: auto;
  margin-top: 190px;
  opacity: .6;
}
.yellow{
  width: 5%;
  height: auto;
  margin-top: 190px;
  opacity: .6;

}
.blue{
  width: 5%;
  height: auto;
  margin-top: 190px;
  opacity: .6;

}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: white;
  text-decoration: none;

}

// .cone {
//   margin-top: 80px;
//   margin-bottom: 40px;
//
//
// }
.center {
  text-align:center;
  // color: gray;
}
.carousel {
  // margin-top: -100px;
  // margin-bottom: 100px;
  margin-left: -50px;
  margin-right: -50px;
  margin-top: 100px;
  margin-bottom: 250px;
  padding-top: -300px;
  height: 500px;
  width: auto;

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;

}
footer a:hover {
  color: black;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
