<div class="show-drivers">
  <h2>Nearby drivers</h2>
    <ol>
      <% if @nearby_drivers.present? %>
        <% @nearby_drivers.each do |driver| %>
        <div class= "show-appoinment"></div>
        <%= link_to "#{driver.name}",  driver_path(driver.id)  %><br>
        <%= driver.bio %><br>
       </div>
    
        <% end %>
      <%end %>
    </ol>
</div>
