<div class="attached-question-class">
  <h3>
    <% if index != nil%>
      <%= index + 1 %>)
    <% end %>
    <%= attachedquestion.content %>
  </h3>
  <% if attachedquestion.choices.any? %>
    <ul>
      <% attachedquestion.choices.each do |choice| %>
        <% choice.correct ? color_class = "correct" : color_class = "incorrect"%>
        <li class="<%= color_class %>"><%= choice.content %></li>
      <% end %>
    </ul>
  <% end %>
</div>
